PORT=8000
MONGODB_URI=mongodb+srv://watt-watch:watt-watch@watt-watch.ar1fnrn.mongodb.net/?appName=watt-watch
MONGODB_DB_NAME=watt-watch
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC_CV=wattwatch/+/cv
MQTT_TOPIC_DEVICE_STATE=wattwatch/+/+/state
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
